.meals-recipe-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 30px;
}

.meal-card-head {
    position: relative;
}

.meal-card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    
}

.btn-favorite {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    cursor: pointer;
}

.meal-recipe-card a {
    font-weight: bold;
    text-decoration: none;
}

.meal-type-name {
    color: gray;
    font-size: 14px;
}

.meal-title {
    color: black;
    font-size: 22px;
}
