a {
    font-family: Arial;
}

/* Header top */

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-top img { 
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.right-section {
    display: flex;
    align-items: center;
}

.search-form{
    display: flex;
}


.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: none;
    width: 30px;
    height: 30px;
}

.search-button:hover {
    cursor: pointer;
}

.search-button img {
    height: 20px;
}


.header-top a {
    color: black;
    text-decoration: none;
    font-size: 14px;
}

/* Navbar */

.navbar a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.header-top a:hover,
.navbar a:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-color: orange;
}

