{% extends "base.html" %}

{% block title %}Meals{% endblock title %}

{% block content %}
    <div class="meals-grid">
        {% for meal in meals %}
            <div class="meal-type">
                <img class="meal-image" src="{{ meal.meal_image.url }}" alt="No meal img">
                <a class="meal-link" href="{% url 'meal-recipes' meal.slug %}">
                    <div class="meal-overlay">
                        {{ meal.type }}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    
{% endblock content %}
