{% extends "base.html" %}

{% block title %}Profile{% endblock  %}

{% block content %}
    {% if favorites %}
        <p>Recipes {{ amount }}</p>
        <div class="meals-recipe-grid">
            {% for favorite in favorites  %}
                <div class="meal-recipe-card">
                    <a href="{{ favorite.get_absolute_url }}">
                        <div class="meal-card-head">
                            <img class="meal-card-image" src="{{ favorite.recipe_image.url }}"> 
                        </div>
                        
                        <div class="meal-card-body">
                            <p class="meal-type-name">{{ favorite.meal.type | upper }}</p>
                            <p class="meal-title">{{ favorite.title | title }}</p>
                        </div>
                    </a>               
                </div> 
                
            {% endfor %}
        </div>
    {% else %}
        <p>You haven't saved anything yet.</p>
    {% endif %}
    

{% endblock content %}