{% load static %}
<header class="header">
    <nav class="header-top">
        <div class="main-section">
            <img src="{% static 'images/header/logo.svg' %}" alt="">
            <a href="{% url 'home' %}">HOME</a>
            <a href="{% url 'meals-list' %}">MEALS</a>
            <a href="#">NEWS</a>
            <a href="#">CUISINES</a>
            <a href="#">ABOUT US</a>
        </div>
        <div class="right-section">
            <form class="search-form" action="#">
                <input class="search" type="text" placeholder="Search">
                <button class="search-button">
                    <img src="{% static 'images/header/search.svg' %}" alt="">
                </button>
            </form>
            
            <div class="authentication">   
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}">Log Out</a>
                {% else %}
                    <a href="{% url 'login' %}">Log In</a>
                {% endif %}
                {% if user.is_staff %}
                    <a href="http://127.0.0.1:8000/admin/">Admin</a>
                {% endif %}
            </div>
        </div>
    </nav>
</header>
